{% extends 'base.html' %}

  {% block content %}

    {% include "planet-sun.html" %}
    <div class="mt-4" id="check-email">
      <h4 class="mt-5 font-weight-light">Please check your email for a link to reset your password</h4>
      <a class="btn btn-outline-primary" href="/login">login</a>
    </div>
    
    
    <div id="word-def">
      <div id="word"><b>ex·o·plan·et</b></div>
      <div id="noun"><i>noun</i></div>
      <div id="pronouncer">/ˈeksōˌplanət/</div>
      <div id="definition">a planet which orbits a star <br> outside the solar system.</div>
    </div>
    
{% endblock %}
