body {
    background-color: rgb(3, 3, 32);
    color: lightgray;
}    

.page-buttons {
    width: 27px;
    border: solid 1px black;
    padding: 2px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-head {
    text-align: center;
}

#enter-email {
    text-align: center;
}

#check-email {
    width: 320px;
    text-align: center;
}

#list-head {
    display: flex;
}

#list-edit-btn {
    height: 30px;
}

#create-text {
    height: 25px;
    width: 80px;
    position: absolute;
    left: 24px;
    top: 42px;
}

.check, #all {
    margin-left: 10px;
    margin-right: 10px
}

#signup {
    width: 300px;
}

#about {
    max-width: 800px;
}
#user-head, #user-lists {
    width: 310px;
    text-align: center;
}

#pages {
    display: flex;
}

.fas {
    color: rgb(248, 48, 48);
    cursor: pointer;
}

ul {
    list-style-type: none;
}

#user-buttons {
    text-align: center;
}

#user-search-button {
    color: rgb(148, 12, 148);
    border-color: rgb(148, 12, 148);
    box-shadow: 0 0 5px 5px rgb(148, 12, 148);
    width: 200px;
}

#user-create-button, #user-edit-button {
    box-shadow: 0 0 5px 5px rgb(68, 164, 228);
    width: 200px;
}

#user-search-button:hover {
    background-color: rgb(148, 12, 148);
    color: white;
}

#page-links > a {
    color: white;
}

#edit-list {
    width: 290px;
}

#lists-div {
    display: flex;
    justify-content: center;
    padding: 55px;
    margin-top: 40px;
    text-align: center;
}

#user-lists {
    width: 200px;
    border: 1px solid rgb(68, 164, 228);
    padding: 10px;
    box-shadow:
        0 0 10px 10px rgb(68, 164, 228);
    min-height: 300px;    
}

td, th {
    white-space: nowrap;
    border: 1px solid rgb(68, 164, 228);
    background-color: rgb(3, 3, 32);;
    text-align: center;
}

a {
    color:rgb(68, 164, 228);
}

hr {
    border: 0.5px solid white;
}

.transition {
    transition: transform 2s;
}

#my-lists {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}

#sun {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255,255,103);
    box-shadow: 
        inset 0 0 5px white,
        inset 0 0 15px white,
        inset 0 0 60px white,
        0 0 8px white,
        0 0 30px white,
        0 0 60px white,
        0 0 60px 30px rgb(255,255,103),
        0 0 120px 60px rgb(255,255,103),
        0 0 240px 120px rgb(255,255,103);
    z-index: -1;
    position: relative;
    left: 100px;
}

#exo-sun-default {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255,80,0);
    box-shadow: 
        inset 0 0 5px white,
        inset 0 0 15px white,
        inset 0 0 60px white,
        0 0 8px white,
        0 0 30px white,
        0 0 60px white,
        0 0 60px 30px rgb(255,80,0),
        0 0 120px 60px rgb(255,80,0),
        0 0 240px 120px rgb(255,80,0);
    z-index: -1;
    position: absolute;
    left: 0px;
}

#planet {
    position: absolute;
    left: 100px;
}

#planet-img, #big-exo-image {
    width: 200px; 
    border-radius: 50%;
    object-position: -10px;
}

#exo-sun-glow {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: -1;
    position: relative;
}

#exo-sun-small {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: -1;
    position: relative;
    left: 100px;
}

.exoplanet {
    z-index: -1;
    position: relative;
    width: 310px;
    top: 50px;
    height: 310px;
}

.exoplanet-zoom {
    z-index: -1;
    position: relative;
    width: 310px;
    top: 50px;
    height: 310px;
    transform: scale(0);
    transition: transform 3s;
}

.box-shadow::after {
    box-shadow:
        inset -105px 0 40px rgb(3, 13, 46),
        inset -30px 0 40px transparent,
        inset -30px 0 150px rgb(3, 13, 46),
        inset -10px 0 150px transparent,
        0 0 5px white,
        0px 0 5px cyan;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 200px;
    border-radius: 50%;
}

#word-def {
    position: absolute;
    left: 1px;
    top: 175px;
    text-shadow: 0 0 1.75px white;
    color:transparent;
}

#login {
    position: relative;
    left: 125px;
    bottom: 37px;
}

#nasa-cont {
    font-size: 15px;
}

#nasa {
    width: 60px;
}

#parameters > input {
    width: 145px;
}

#parameters > label {
    margin-right: 10px;
}

#list-d {
    width: 300px;
}

#edit-buttons {
    display: flex;
    position: relative;
    bottom: 35px;
    left: 60px;
}

.jasmine_html-reporter {
    position: absolute;
}

.color-data {
    text-align: center;
    font-size: 12px;
    width: 95px;
}

#results-data {
    position: absolute;
    top: 350px;
    left: 5px;
}

#login-div {
    width: 290px;
}

#message {
    font-size: 15px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 768px) {
    #user-head {
        margin-top: 50px;
    }
    #search-head {
        width: 50%;
        padding-top: 75px;
    }

    #reset-pwd, #create-list, #edit-account, #user-delete, #list-planet, #edit-list {
        margin-left: 75px;
        margin-top: 80px;
    }
}

@media only screen and (min-width: 992px) {
    #welcome {
        width: 70%;
        margin-left: 30px;
    }
}

@media only screen and (min-width: 576px) {
    #signup {
        width: 350px;
    }
}

@media only screen and (max-width: 350px) {
    #signup-head {
        font-size:25px;
    }
}  

@media only screen and (max-width: 540px) {
    #welcome > h1 {
        font-size: 35px;
        text-align: center;
    }
}    

