<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exoplanet App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <link 
      rel="stylesheet"
      href="https://unpkg.com/jasmine-core/lib/jasmine-core/jasmine.css" />
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
  </head>
  <body class="style={background-color: black}">      
    {% if g.user %}
      <h6 id="username">{{ g.user.username }}</h6>
    {% endif %}  
    {% block content %}{% endblock %}

    <script src="https://unpkg.com/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="https://unpkg.com/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src= "https://unpkg.com/jasmine-core/lib/jasmine-core/boot.js"></script>
    {% block tests %}{% endblock %}
    <script src="/static/script.js"></script>
  </body>
</html>
