{% extends 'base.html' %}

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %}

  {% block content %}

    <h4 id="user-delete-head" class="font-weight-light ml-3">Are you sure you want to delete your account?</h4>
    {% for message in get_flashed_messages() %}
      <h4>{{ message }}</h4>
    {% endfor %}
    <form class="mb-4 ml-4" id="user-delete-form" method="POST"> 
      {{ form.hidden_tag() }}
  
      {% for field in form
        if field.widget.input_type != 'hidden' %}
  
          <p>
            {{ field.label }} 
            {{ field }}     
         
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>
  
    {% endfor %}
    <button class="btn btn-outline-danger" type="submit">Confirm</button>
  </form>
  <a class="ml-4" href="/users/{{ user.username }}/edit">Cancel</a>
  {% include "planet-sun.html" %}
{% endblock %}
