{% extends 'base.html' %} 

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %} 

{% block content %}

<h3 class="font-weight-light mt-5">Edit List</h3>
<div class="col-sm-6 col-md-8 mb-2">
  <form id="list-edit-form" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <p>
      {{ field.label }} {{ field (class="form-control form-control-sm")}} {% for
      error in field.errors %} {{ error }} {% endfor %}
    </p>

    {% endfor %}
    <button class="btn btn-outline-primary" type="submit">Add</button>
  </form>
</div>

{% endblock %}
