{% extends 'base.html' %}

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %}

  {% block content %}

    <h1>Edit Your Account</h1>
    {% for message in get_flashed_messages() %}
      <h4>{{ message }}</h4>
    {% endfor %}  
    <form id="edit_form" method="POST"> 
      {{ form.hidden_tag() }}

      {% for field in form
        if field.widget.input_type != 'hidden' %}

          <p>
            {{ field.label }} 
            {{ field }}     
       
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>

       {% endfor %}
       <button class="btn btn-success btn-sm" type="submit">Save</button>
     </form>
     <a href="/users/{{ user.username }}/delete">Delete Account</a>
  {% endblock %}