{% extends 'base.html' %}

  {% block content %}
   
    <h1>{{ user_list.name }}</h1>

    <h3>Planets</h3>
    <h5>{{ user_list.description }}</h5>
    <ul>
        {% for favorite in user_list.favorites %}
          <li><a href="/planets/{{ favorite.planet_name }}">{{ favorite.planet_name }}</a>
          <button id="delete-{{ favorite.planet_name }}" class="delete-planet">x</button>
          </li>

        {% endfor %}  
    </ul>
    <a href="/logout"></a>
    <input type="hidden" id="list-id" value="{{ user_list.id }}">

  {% endblock %}
  {% block scripts %}
    <script src="/static/jasmine-tests/favorites.js"></script>
  {% endblock %}  
    
    