{% extends 'base.html' %}

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %}

  {% block content %}
   
    <h1 class="font-weight-light" id="list-name">{{ user_list.name }}</h1>
    <h5 class="font-weight-light">{{ user_list.description }}</h5>

    <h3>Planets</h3>
    <ul>
        {% for favorite in user_list.favorites %}
          <li><a class="planet-list-items" href="/planets/{{ favorite.planet_name }}">{{ favorite.planet_name }}</a>
          <button id="delete-{{ favorite.planet_name }}" class="delete-planet">x</button>
          </li>

        {% endfor %}  
    </ul>
    <a href="/logout"></a>
    <input type="hidden" id="list-id" value="{{ user_list.id }}">

  {% endblock %}
  {% block scripts %}
    <!-- <script src="/static/jasmine-tests/favorites-test.js"></script> -->
    <script src="/static/favorites-class.js"></script>
    <script src="/static/favorites-events.js"></script>
  {% endblock %}  
    
    