{% extends 'base.html' %}

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %}

  {% block content %}
  {% include "planet-sun.html" %}
    <div class="mt-5" id="list-planet">
      <div class="row ml-4">
        <h1 class="font-weight-light" id="list-name">{{ user_list.name }}</h1>
        <a href="/users/{{ user_list.user.username }}/lists/{{ user_list.id }}/edit" style="height: 30px;" class="btn btn-outline-primary btn-sm ml-3 mt-2">Edit</a>
      </div>
      
      <h5 id="list-d" class="font-weight-light ml-4">{{ user_list.description }}</h5>
      <h3 class="font-weight-light mt-4 ml-4">Planets</h3>
      <ul>
        {% for favorite in user_list.favorites %}
          <li>
            <i class="fas fa-trash-alt"></i>
            <a class="ml-4 planet-list-items" href="/planets/{{ favorite.planet_name }}">{{ favorite.planet_name }}</a>
          </li>

        {% endfor %}  
      </ul>
      
      <a href="/logout"></a>
      <input type="hidden" id="list-id" value="{{ user_list.id }}">
    </div>
    
  {% endblock %}
  {% block scripts %}
    <script src="/static/jasmine-tests/favorites-test.js"></script>
    <script src="/static/favorites-class.js"></script>
    <script src="/static/favorites-events.js"></script>
  {% endblock %}  
  
    