{% extends 'base.html' %} {% block content %}

<h1 id="welcome" class="font-weight-light mb-5">Welcome to the Exoplanet App</h1>
<h3 id="login-head" class="font-weight-light ml-3">Login to your account</h1>
{% for message in get_flashed_messages() %}
<h4>{{ message }}</h4>
{% endfor %}
<div class="col-sm-6 col-md-8 mb-2">
  <form id="login-form" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <p>
      {{ field.label }} {{ field (class="form-control form-control-sm")}} {% for
      error in field.errors %} {{ error }} {% endfor %}
    </p>

    {% endfor %}
    <button class="btn btn-outline-primary mr-4" type="submit">Login</button>
    <a href="/password/email">Forgot your password?</a>
  </form>
</div>
<div id="word-def">
  <div id="word"><b>ex·o·plan·et</b></div>
  <div id="noun"><i>noun</i></div>
  <div id="pronouncer">/ˈeksōˌplanət/</div>
  <div id="definition">a planet which orbits a star <br> outside the solar system.</div>
</div>
{% include "planet-sun.html" %}
{% endblock %}
