<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: transparent">
    <a class="navbar-brand" href="/">Exoplanet App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/users/{{ g.user.username }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000/planets/search">Search</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        {% endif %}  
      </ul>
    </div>
  </nav>