{% extends 'base.html' %}

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %}

  {% block content %}
    
    <div id="planet-details">
      <h3 class="font-weight-light mt-3">{{ planet['pl_name'] }}</h3>
      <h5 id="message"></h5>
      <ul>
        <li>Orbit: {{ planet['pl_orbsmax'] }}</li>
        <li>Radius: {{ planet['pl_rade'] }}</li>
        <li>Mass: {{ planet['pl_masse'] }}</li>
        <li>Potentially Habitable: {{ habitable }}</li>
      </ul>
      <h4 class="font-weight-light">Host Star: {{ planet['pl_hostname'] }}</h4>
      <ul>
        <li>Optical Magnitude: {{ planet['st_optmag'] }}</li>
        <li>Distance: {{ planet['st_dist'] }}</li>
        <li>Spectral-type: {{ planet['st_spstr'] }}</li>
        <li>Mass: {{ planet['st_mass'] }}</li>
        <li>Radius: {{ planet['st_rad'] }}</li>
        <li>Temperature: {{ planet['st_teff'] }}</li>
        <li>Color Index(B-V): {{ planet['st_bmvj'] }}</li>
        <li>Number of Planets: {{ planet['pl_pnum'] }}</li>
      </ul>
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  {% endblock %}  