{% extends 'base.html' %}

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %}

  {% block content %}

    <div class="exoplanet-zoom mb-5">
      <div id="exo-sun-glow"></div>
      <div id="planet">
        <div class="box-shadow">
          <img id="big-exo-image"/>
        </div>
      </div>
    </div>
    <div class="mt-5" id="planet-list-select">
      <select class="ml-4" name="lists" id="lists">
        <option value="" disabled selected hidden>Add to list</option>
        <option value="create-list">Create list</option>
        {% for list in g.user.lists %}
        <option class="listIDs" value="{{ list.id }}">{{ list.name }}</option>
        {% endfor %}
      </select>
      <input id="create-text" type="text" placeholder="Enter list" hidden>
      <button class="btn btn-outline-primary btn-sm" id="create-list-btn" hidden>Create</button>
      <button class="btn btn-outline-primary btn-sm" id="add-planets">Add</button>
      <button class="btn btn-outline-primary btn-sm" id="go-to-list">Go To List</button>
    </div>
    <div class="ml-4" id="message"></div>
  
    <div style="width: 290px;" class="mt-4 ml-4" id="planet-details">
      <div>
        <h3 class="font-weight-light mt-3">{{ planet['pl_name'] }}</h3>
        <h5 id="message"></h5>
        <ul>
          <li>Orbit: <span id="pl_orbsmax">{{ planet['pl_orbsmax'] }}</span></li>
          <li>Radius: <span id="pl_rade">{{ planet['pl_rade'] }}</span></li>
          <li>Mass: <span id="pl_masse">{{ planet['pl_masse'] }}</span></li>
          <li>Habitability Zone: <span id="habitable">{{ habitable }}</span></li>
        </ul>
        <h4 class="font-weight-light">Host Star: {{ planet['pl_hostname'] }}</h4>
        <ul>
          <li>Optical Magnitude: {{ planet['st_optmag'] }}</li>
          <li>Distance: {{ planet['st_dist'] }}</li>
          <li>Spectral-type: <span id="st_spstr">{{ planet['st_spstr'] }}</span></li>
          <li>Mass: {{ planet['st_mass'] }}</li>
          <li>Radius: <span id="st_rad">{{ planet['st_rad'] }}</span></li>
          <li>Temperature: <span id="st_teff">{{ planet['st_teff'] }}</span></li>
          <li>Color Index(B-V): <span id="st_bmvj">{{ planet['st_bmvj'] }}</span></li>
          <li>Number of Planets: {{ planet['pl_pnum'] }}</li>
        </ul>
      </div>
    </div>  
      
    <div class="mt-4">
      <div id="pl-comparisons" style="display: none;">
        <div class="mb-4" id="pl-size-comp" style="display: flex; background-color: black; width: 265px; height: 175px;">
          <div style=" width: 160px; height: 200px; ">
            <p>Earth</p>
            <img id="earth" style="position: relative; top: 20px; left: 30px;" src="/static/images/earth.jpg" alt="">
          </div>
          <div style="width: 160px; overflow:hidden">
            <p >{{ planet['pl_name'] }}</p>
            <img id="exo" style="position: relative; filter: hue-rotate(45deg);" alt="">
          </div>            
        </div>  
      </div>
      <div id="st-comparisons">
        <div id="st-size-comp" style="overflow: hidden; display: flex; background-color: black; width: 265px; height: 175px;">
          <div style="width: 160px; overflow:hidden">
            <div id="sun" style="left: 20px; top: 40px; z-index: 1; transform: scale(0.5)"></div>
          </div>       
          <div style="width: 160px; overflow:hidden">
            <div id="exo-sun-small" style="left: 20px; top: 40px; z-index: 1; transform: scale(0.5)"></div>
          </div>              
        </div>
        <div style="width: 320px;" class="row">
          <div class="col-6 text-center">
            <p>Sun</p>
          </div>
          <div class="col-5 text-center">
            <p>{{ planet['pl_hostname'] }}</p>
          </div>     
        </div>
      </div>        
    </div>
    
  {% endblock %}  
  {% block scripts %}
    <!-- <script src="/static/jasmine-tests/planet-test.js"></script> -->
    <script src="/static/planet.js"></script>
    <script src="/static/favorites-class.js"></script>
    <script src="/static/favorites-events.js"></script>
  {% endblock %}
  