{% extends 'base.html' %} {% block content %}

<h1 class="font-weight-lighter mb-3 mt-5">Welcome to the Exoplanet App</h1>
<h3 class="font-weight-lighter">Sign Up to Search Other Worlds</h3>
{% for message in get_flashed_messages() %}
<h4>{{ message }}</h4>
{% endfor %}
<div class="col-sm-6 col-md-8 mb-2 mr-5">
  <form id="signup_form" method="POST">
    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <p>
      {{ field.label }} {{ field (class="form-control form-control-sm") }} {%
      for error in field.errors %} {{ error }} {% endfor %}
    </p>

    {% endfor %}
    <button class="btn btn-primary btn-sm" type="submit">Signup</button>
  </form>
</div>
<a id="login" href="/login">Login</a>
<footer>
  Powered by <a href="https://www.nasa.gov/"><img id="nasa"src="/static/images/nasa.png" alt=""></a>
</footer>
{% endblock %} {% block tests %}
<!-- <script src="/static/jasmine-tests/create-test-user.js"></script> -->
{% endblock %}
