{% extends 'base.html' %}

  {% block content %}

    <h1>Welcome to the Exoplanet App</h1>
    <h3>Sign Up to Search Other Worlds</h3>
    {% for message in get_flashed_messages() %}
      <h4>{{ message }}</h4>
    {% endfor %}  
    <form id="signup_form" method="POST"> 
      {{ form.hidden_tag() }}

      {% for field in form
        if field.widget.input_type != 'hidden' %}

          <p>
            {{ field.label }} 
            {{ field }}     
       
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>

       {% endfor %}
       <button class="btn btn-success btn-sm" type="submit">Add</button>
     </form>
     <a href="/login">Login</a>
  {% endblock %}
