{% extends 'base.html' %}

  {% block content %}
   
    <h1>{{ user.username }}'s page</h1>
    {% for message in get_flashed_messages() %}
      <h4>{{ message }}</h4>
    {% endfor %}

    <h3>My Lists</h3>
    <ul>
        {% for list in user.lists %}
          <li><a href="/users/user.username/lists/{{ list.id }}">{{ list.name }}</a>
            <p>{{ list.description }}</p>
          </li>
        {% endfor %}  
    </ul>
    <a href="/users/{{ user.username }}/lists/create">Create List</a>
    <a href="/logout"></a>

  {% endblock %}  
    
    