{% extends 'base.html' %} 

{% block navbar %} 
  {% include "nav-bar.html" %} 
{% endblock %} 

{% block content %}
  
  {% include "planet-sun.html" %}
  <div id="user-head">
    <h3 class="font-weight-light mb-5">{{ user.first_name }}'s page</h3>
    {% for message in get_flashed_messages() %}
      <h4 class="ml-4">{{ message }}</h4>
    {% endfor %}
    <div id="user-buttons">
      <a id="user-search-button" class="btn btn-outline-primary mb-5" href="/planets/search">Search Planets</a><br>
      <a id="user-create-button" class="btn btn-outline-primary mb-5" href="/users/{{ user.username }}/lists/create">Create List</a><br>
      <a id="user-edit-button" class="btn btn-outline-primary mb-5" href="/users/{{ user.username }}/edit">Edit Account</a>
    </div>
  </div>
    
  <div id="lists-div">
    <div id="user-lists">
      <h3 class="font-weight-light">My Lists</h3>
      <ul id="my-lists">
        {% for list in user.lists %}
          <li id="{{ list.name }}"> 
            <a href="/users/{{ user.username }}/lists/{{ list.id }}">{{ list.name }} ({{ list.favorites | length }})</a>
            <p id="{{ list.name }}">{{ list.description }}</p>
          </li>
        {% endfor %}  
      </ul>
    </div>
  </div>  

{% endblock %} 

{% block scripts %}
  <!-- <script src="/static/jasmine-tests/create-test-list.js"></script> -->
  <script src="/static/user-list.js"></script>
{% endblock %}

